body{
}
.container{
	width: 960px;
}
.header{
	height: 50px;
	background-color: limegreen;
}
.content{
	height: 50px;
	background-color: skyblue;
}
.footer{
	height: 50px;
	background-color: salmon;
}